In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import glob, os
%matplotlib inline

## Reading CSV and Cleaning up Dataset

In [19]:
stats1_df = pd.read_csv('dataset/stats1.csv')

In [44]:
champions_df = pd.read_csv('dataset/champs.csv')

In [45]:
matches_df = pd.read_csv('dataset/matches.csv')

In [46]:
players_df = pd.read_csv('dataset/participants.csv')

In [63]:
bans_df = pd.read_csv('dataset/bans-head-100k.csv')

In [64]:
team_stats_df = pd.read_csv('dataset/teamstats-head-100k.csv')

### Dropping unncessary/unknown data

In [65]:
stats = stats1_df.drop(['item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'trinket'], 1)
matches = matches_df.drop(['queueid', 'creation'], 1)
players = players_df.drop(['ss1', 'ss2'], 1)
bans = bans_df
team_stats = team_stats_df
champions = champions_df

### Further cleaning data and replacing id columns with corresponding names

In [5]:
matches = matches.rename(columns = {'platformid': 'region'})

In [60]:
# Function that will assign team color for red or blue

def assign_team_color(side):
    sideColor = np.array([])
    for team in side:
        if int(team) == 100:
            sideColor = np.append(sideColor, "Blue")
        elif int(team) == 200:
            sideColor = np.append(sideColor, "Red")
        else:
            sideColor = np.append(sideColor, "Nan")
    new_color_df = pd.DataFrame(sideColor)
    return new_color_df

In [66]:
team_bans1 = bans['teamid']
team_stats1 = team_stats['teamid']

In [67]:
bans['teamid'] = assign_team_color(team_bans1)
team_stats['teamid'] = assign_team_color(team_stats1)

KeyboardInterrupt:

       matchid teamid  championid  banturn
0           10   Blue          11        1
1           10   Blue         117        3
2           10   Blue         120        5
3           10    Red          84        2
4           10    Red         201        4
5           10    Red         105        6
6           11   Blue         117        1
7           11   Blue          53        3
8           11   Blue         114        5
9           11    Red          79        2
10          11    Red         107        4
11          11    Red         498        6
12          12   Blue         122        1
13          12   Blue         157        3
14          12   Blue         114        5
15          12    Red          11        2
16          12    Red         498        4
17          12    Red          38        6
18          13   Blue         245        1
19          13   Blue          64        3
20          13   Blue         120        5
21          13    Red         157        2
22          13    Red         122        4
23          13    Red         113        6
24          14   Blue         134        1
25          14   Blue          55        3
26          14   Blue         157        5
27          14    Red         120        2
28          14    Red          35        4
29          14    Red          11        6
...        ...    ...         ...      ...
99970    19423    Red          82        6
99971    19424   Blue         103        1
99972    19424   Blue         122        3
99973    19424   Blue          54        5
99974    19424    Red         157        2
99975    19424    Red          11        4
99976    19424    Red         498        6
99977    19425   Blue         498        1
99978    19425   Blue         105        3
99979    19425   Blue          57        5
99980    19425    Red         157        2
99981    19425    Red         117        4
99982    19425    Red         114        6
99983    19426   Blue         238        1
99984    19426   Blue         113        3
99985    19426   Blue          11        5
99986    19426    Red         103        2
99987    19426    Red         157        4
99988    19426    Red         122        6
99989    19427   Blue         114        1
99990    19427   Blue         122        3
99991    19427   Blue         157        5
99992    19427    Red           7        2
99993    19427    Red          55        4
99994    19427    Red          53        6
99995    19428   Blue         157        1
99996    19428   Blue           5        3
99997    19428   Blue         122        5
99998    19428    Red         154        2
99999    19428    Red         105        4

[100000 rows x 4 columns]