In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import glob as glob, os
%matplotlib inline

In [51]:
dfs = []

for files in glob.glob('2016/Anon Week ? Feedback - *.csv'):
    frame = pd.read_csv(files)
    frame['Week'] = os.path.basename(files[15])
    frame['Location'] = os.path.basename(files[28:-4])
    dfs.append(frame)

dframe_2016 = pd.concat(dfs, ignore_index = True)

dframe_2016.columns = ['Tutorial Pace', 'Schedule Pace', 'Rating', 'Location', 'Timestamp', 'Unnamed:0', 'Week', 'Track']
Pacing = dframe_2016['Tutorial Pace'].fillna(dframe_2016['Schedule Pace'])
dframe_2016['Tutorial Pace'] = Pacing
dframe_2016 = dframe_2016.drop(['Schedule Pace', 'Unnamed:0'], 1)
dframe_2016

    Tutorial Pace Rating   Location           Timestamp Week     Track
0               3      3     Taipei    8/5/2016 1:39:41    7       NaN
1               3      4     Taipei    8/5/2016 1:40:47    7       NaN
2               3      4     Taipei    8/5/2016 1:40:50    7       NaN
3               4      4     Taipei    8/5/2016 1:42:44    7       NaN
4               4      5     Taipei    8/5/2016 1:45:13    7       NaN
5               3      4     Taipei    8/5/2016 1:45:39    7       NaN
6               3      4     Taipei    8/5/2016 1:49:21    7       NaN
7               3      5     Taipei    8/8/2016 1:30:34    7       NaN
8               3      5     Taipei    8/8/2016 1:33:45    7       NaN
9               3      5     Taipei    8/8/2016 1:49:29    7       NaN
10              3      3     Taipei    8/8/2016 1:51:00    7       NaN
11              4      3      Tokyo   7/31/2016 1:04:57    6       NaN
12              3      4      Tokyo   7/31/2016 3:38:14    6       NaN
13              1      4      Tokyo   7/31/2016 3:59:43    6       NaN
14              2      4      Tokyo   7/31/2016 4:19:51    6       NaN
15              4      5      Tokyo   7/31/2016 5:14:20    6       NaN
16              3      3      Tokyo   7/31/2016 6:50:12    6       NaN
17              5      5      Tokyo  7/31/2016 15:23:52    6       NaN
18              2      4      Tokyo  7/31/2016 16:49:45    6       NaN
19              4      3      Tokyo    8/1/2016 1:18:47    6       NaN
20              3      5      Tokyo    8/1/2016 1:30:17    6       NaN
21              3      5      Tokyo    8/1/2016 1:30:17    6       NaN
22              4      4      Tokyo    8/1/2016 6:15:10    6       NaN
23              3      4      Tokyo    8/1/2016 7:56:08    6       NaN
24              3      2  Singapore  6/23/2016 22:24:53    1       NaN
25              3      2  Singapore   6/27/2016 4:03:03    1       NaN
26              3      3  Singapore  6/23/2016 22:13:04    1       NaN
27              4      4  Singapore  6/23/2016 22:09:23    1       NaN
28              4      4  Singapore  6/23/2016 22:11:39    1       NaN
29              4      4  Singapore  6/23/2016 22:11:44    1       NaN
..            ...    ...        ...                 ...  ...       ...
897             4      3         SV   7/8/2016 16:40:10    3      Apps
898             4      4         SV   7/8/2016 13:58:12    3      Apps
899             4      3         SV   7/8/2016 13:53:19    3      Apps
900             2      3         SV   7/8/2016 15:59:30    3      Apps
901             4      5         SV   7/8/2016 16:11:32    3      Apps
902             5      5         SV   7/8/2016 12:49:05    3     Games
903             3      4         SV   7/8/2016 12:49:16    3     Games
904             3      5         SV   7/8/2016 12:47:42    3     Games
905             3      5         SV   7/8/2016 12:43:44    3     Intro
906             3      4         SV   7/8/2016 13:55:51    3      Apps
907             3      5         SV   7/8/2016 14:02:54    3     Games
908             3      5         SV   7/8/2016 14:29:22    3     Games
909             2      5         SV   7/9/2016 17:05:33    3     Games
910             3      3         SV   7/8/2016 16:55:21    3      Apps
911             3      3         SV   7/8/2016 16:08:13    3     Games
912             3      4         SV   7/8/2016 13:56:39    3      Apps
913             2      4         SV   7/8/2016 14:03:35    3      Apps
914             5      4         SV   7/8/2016 13:51:14    3     Games
915             4      4         SV   7/8/2016 12:41:10    3     Intro
916             4      4         SV   7/8/2016 12:41:13    3     Intro
917             3      4         SV   7/8/2016 12:41:51    3     Intro
918             3      4         SV   7/8/2016 12:43:35    3     Intro
919             3      4         SV   7/8/2016 12:45:11    3     Intro
920             3      4         SV   7/8/2016 12:47:39    3     Intro
921             4      4         SV   7/8/2016 13:01:58    3     Intro
922             4      4         SV  7/10/2016 23:44:41    3     Games
923         #REF!  #REF!         SV                 NaN    3  Average:
924             3      5         SV   7/8/2016 16:41:06    3      Apps
925             3      5         SV   7/8/2016 13:07:39    3     Games
926             3      5         SV   7/8/2016 12:45:02    3     Intro

[927 rows x 6 columns]

In [78]:
# def nps_converter(rating):
#     rating_string = np.array([])
#     for num in rating:
#         if not num == "#REF!" and not num == "#ERROR!" and not num =='NaN':
#             if float(num) > 4:
#                 rating_string = np.append(rating_string, "Promoter")
#             elif float(num) > 3:
#                 rating_string = np.append(rating_string, "Passive")
#             else:
#                 rating_string = np.append(rating_string, "Detractor")
#         else:
#             rating_string = np.append(rating_string, "NaN")
            
#     finalDF_2016 = pd.DataFrame(rating_string)
#     return finalDF_2016

# rating_to_convert = dframe_2016['Rating']
# dframe_2016["Rating"] = nps_converter(rating_to_convert)
# dframe_2016

rating_num = np.array([])
x = dframe_2016["Rating"]

for num in x:
    if not num == "NaN" and not num == "#ERROR!" and not num == "#REF!":
        if float(num) > 4:
            rating_string = np.append(rating_num, "Promoter")
        elif float(num) > 3:
            rating_string = np.append(rating_num, "Passive")
        elif float(num) < 3:
            rating_string = np.append(rating_num, "Detractor")
    else:
        rating_string = np.append(rating_num, "Nan")

rating_num

array([], dtype=float64)